<!DOCTYPE html>
   {%  extends 'testapp/index.html'%}
   {%block body_block%}
       <div class="aboutus">
      <h1 class="aboutus_header">About US</h1>

     <p>
         PRATYUSH TECHNOSOFT is the one and only place providing in-depth training on all latest Python and Java Certifications for the last decade.Every blog and forum around the globe will represent PRATYUSH TECHNOSOFT as pioneer and leader in Python Certification training. When the discussion comes on Python, all the online communities will have only one PRATYUSH TECHNOSOFT is founded by IT industry experts and the faculty is expertise in multiple domains. Faculties are highly experienced in designing/development of software solutions in their respective domains.
     </p>
     <p>
         The training at PRATYUSH TECHNOSOFT is not just like normal classroom sessions. The training is completely industry oriented and interview oriented.During the initial days of training itself, trainees will get the confidence that they can get through any difficult interview or any tough job. All the concepts will be taught with realtime examples and in an easily understandable way. Getting job in IT industry after completing course in PRATYUSH TECHNOSOFT is not a big deal. Getting selected in a job interview and getting 100 percentage in Python Certification is the daily common news at PRATYUSH TECHNOSOFT .
     </p>


     </div>
    {%endblock%}
