<!DOCTYPE html>
{% extends 'testapp/index.html'%}
    {%block body_block%}
    <h1 class="courses_header">Courses Details</h1>
    <table class="courses_table">
      <tr class="table_header">
        <th>Course</th>
        <th>Trainer</th>
        <th>Duration</th>
        <th>Fee</th>
      </tr>
      <tr class="oddrow">
        <td>Core Java</td>
        <td>John</td>
        <td>3 Months</td>
        <td>7000</td>
      </tr>
      <tr class="evenrow">
        <td>Adv Java</td>
        <td>Mathew</td>
        <td>3 Months</td>
        <td>7000</td>
      </tr>
      <tr class="oddrow">
        <td>Hibernet</td>
        <td>Scott</td>
        <td>2 Months</td>
        <td>7000</td>
      </tr>
      <tr class="evenrow">
        <td>Spring</td>
        <td>Jamie</td>
        <td>2 Months</td>
        <td>7000</td>
      </tr>
      <tr class="oddrow">
        <td>Spring Boot and MIcroservices</td>
        <td>Dakota</td>
        <td>3 Months</td>
        <td>10000</td>
      </tr>
      <tr class="evenrow">
        <td>Web Services</td>
        <td>Natalie</td>
        <td>2 Months</td>
        <td>7000</td>
      </tr>
      <tr class="oddrow">
              <td>Python</td>
              <td>Jose</td>
              <td>4 Months</td>
              <td>7000</td>
          </tr>
          <tr class="evenrow">
              <td>Django</td>
              <td>Sawyer</td>
              <td>45 Days</td>
              <td>7000</td>
          </tr>
          <tr class="oddrow">
              <td>Flask</td>
              <td>Taylor</td>
              <td>45 Days</td>
              <td>7000</td>
          </tr>
          <tr class="evenrow">
              <td>Python Rest API</td>
              <td>Paul</td>
              <td>2 Months</td>
              <td>7000</td>
          </tr>
        </table>
    {%endblock%}
